[submodule "Development"]
	path = Development
	url = https://github.com/robotronik/cdfr2019-2A-Development
[submodule "Electronic"]
	path = Electronic
	url = https://github.com/robotronik/cdfr2019-2A-Electronic
